---
const { articles } = Astro.props;
---

<section data-aos="fade-up" data-aos-duration="400">
    {
        Array.isArray(articles) &&
            articles.map((article: any) => (
                <p class="text-zinc-900 text-lg sm:text-xl">
                    {article.fields.bio}
                </p>
            ))
    }
</section>
