---
import FloatingBar from "../../components/common/FloatingBar.astro";
import Contact from "../../components/local/home/Contact.astro";
import Profile from "../../components/local/home/Profile.astro";
import Layout from "../../layouts/Layout.astro";
import { getEntries } from "../../lib/contentful";

const profile = await getEntries("profile");
---

<Layout>
	<FloatingBar />
	<div
		class="grid place-items-center align-middle h-screen bg-gradient-to-br from-white to-violet-50 mx-auto"
	>
		<div
			class="flex flex-col gap-10 pb-56 px-5 sm:px-10 lg:px-20 xl:px-44 tracking-[0.015rem] max-w-[90rem]"
		>
			<Profile articles={profile} />
			<Contact articles={profile} />
		</div>
	</div>
</Layout>
