---
const { articles } = Astro.props;

if (!Array.isArray(articles) || articles.length === 0) {
    return Astro.redirect("/404", 302);
}
---

<section data-aos="fade-up" data-aos-duration="400">
    <div class="space-y-5 text-zinc-900">
        <p class="text-2xl font-semibold">Hey, I’m Cahya! 👋</p>
        <p class="text-lg">
            I wear a few hats—Frontend Dev, UI/UX Designer, and QA Engineer.
            Basically, I design sleek interfaces, build interactive web
            experiences, and test the heck out of them to make sure everything
            runs smooth. ✨
        </p>
        <p class="text-lg">
            I love mixing creativity with code, and I’m all about making the web
            look good, feel easy to use, and work flawlessly. From modern
            front-end tech to smart automation tools, I keep things fast,
            user-friendly, and future-ready. 🚀
        </p>
    </div>
</section>
