---
const { articles } = Astro.props;

if (!Array.isArray(articles) || articles.length === 0) {
    return Astro.redirect("/404", 302);
}
---

<section
    data-aos="fade-up"
    data-aos-duration="400"
    data-aos-delay="300"
    class="flex flex-col gap-5"
>
    <p class="font-semibold text-2xl">Skills ⚡</p>
    {
        articles.map((article: any) => (
            <div class="flex flex-wrap gap-2">
                {article.fields.skills?.map((skill: any) => (
                    <div>
                        <p class="text-lg px-4 py-2 bg-[#f7f7f7] hover:bg-violet-500 hover:text-white text-zinc-900 w-max rounded-full duration-200">
                            {skill}
                        </p>
                    </div>
                ))}
            </div>
        ))
    }
</section>
