---
import moment from "moment";
const { articles } = Astro.props;

if (!Array.isArray(articles) || articles.length === 0) {
    return Astro.redirect("/404", 302);
}
---

<section
    data-aos="fade-up"
    data-aos-duration="400"
    data-aos-delay="150"
    class="flex flex-col gap-5"
>
    <p class="font-medium text-lg sm:text-xl text-zinc-400">Timeline</p>
    <div class="relative space-y-10">
        {
            articles.map((article: any) => {
                const sortedTimeline = [
                    ...(article.fields.timeline || []),
                ].sort(
                    (a, b) =>
                        new Date(a.fields.startDate || "").getTime() -
                        new Date(b.fields.startDate || "").getTime(),
                );
                return sortedTimeline.map((tl: any) => (
                    <div class="">
                        <div class="flex flex-col gap-2 text-lg sm:text-xl">
                            <div class="flex items-center gap-3">
                                <div class="font-medium flex items-center text-zinc-900">
                                    {moment(tl.fields.startDate).format(
                                        "MMM YYYY",
                                    )}{" "}
                                    –{" "}
                                    {tl.fields.endDate ? (
                                        moment(tl.fields.endDate).format(
                                            "MMM YYYY",
                                        )
                                    ) : (
                                        <p class="text-orange-500 ml-1">Now</p>
                                    )}
                                </div>
                            </div>
                            <p class="text-zinc-600 text-lg sm:text-xl">
                                {tl.fields.description}
                            </p>
                        </div>
                    </div>
                ));
            })
        }
    </div>
</section>
