---
import Markdown from "../../../lib/markdown/Markdown";


const { singleInsights } = Astro.props;
---

<section class="markdown text-[1.05rem] text-zinc-900 leading-7">
    <Markdown client:load content={singleInsights.fields.content} />
</section>
