---
import "../styles/global.css";

import { getEntries } from "../lib/contentful";
import Layout from "../layouts/Layout.astro";
import Bio from "../components/sections/about/Bio.astro";
import FloatingBar from "../components/common/FloatingBar.astro";
import Timeline from "../components/sections/about/Timeline.astro";
import Skill from "../components/sections/about/Skill.astro";
import Footer from "../components/common/Footer.astro";

const profile = await getEntries("profile");
---

<Layout>
    <FloatingBar />
    <div
        class="flex flex-col gap-20 mx-auto py-44 px-3 sm:px-10 lg:px-20 w-full max-w-4xl"
    >
        <Bio articles={profile} />
        <Timeline articles={profile} />
        <Skill articles={profile} />
    </div>
    <Footer />
</Layout>
