---
import Layout from "../layouts/Layout.astro";
import { getEntries } from "../lib/contentful";
import moment from "moment";

import FloatingBar from "../components/common/FloatingBar.astro";
import Footer from "../components/common/Footer.astro";

const projects = await getEntries("uniqueCode");

const sortedProjects = [...(projects || [])]
    .filter((p) => !!p?.fields?.publishedDate)
    .sort((a, b) => {
        const aDate = new Date(String(a.fields.publishedDate)).getTime();
        const bDate = new Date(String(b.fields.publishedDate)).getTime();
        return bDate - aDate;
    });
---

<Layout>
    <FloatingBar />
    <div
        data-aos="fade"
        class="flex flex-col gap-10 md:gap-20 py-32 sm:py-44 px-5 sm:px-10 lg:px-20 2xl:px-40 tracking-[0.015rem]"
    >
        <header
            class="flex flex-col gap-2 items-start md:items-center text-left md:text-center"
        >
            <p class="text-zinc-500 text-[1rem] sm:text-[1.2rem]">
                My Insights
            </p>
            <h1
                class="font-medium text-zinc-900 text-[1.5rem] sm:text-[2.5rem] leading-8 sm:leading-[3.2rem] w-full lg:w-1/2"
            >
                Being{" "}
                <span
                    class="text-transparent bg-clip-text bg-gradient-to-r from-amber-400 to-purple-400"
                >
                    up-to-date
                </span>{" "}
                with coding and design is essential
            </h1>
        </header>
        <div class="flex flex-col mx-auto gap-5">
            {
                sortedProjects.map((article: any) => (
                    <div>
                        <a
                            href={`/insight/${article.fields.slug}`}
                            class="group flex gap-3 items-center w-full md:w-[600px] duration-200 outline-none border-b border-zinc-200 pb-5"
                        >
                            {article.fields.thumbnailImage && (
                                <img
                                    src={
                                        "https:" +
                                        article.fields.thumbnailImage.fields
                                            .file.url
                                    }
                                    alt=""
                                    width="64"
                                    height="64"
                                    class="w-16 h-16 object-cover rounded-md"
                                />
                            )}
                            <div class="flex flex-col gap-1">
                                <p class="group-hover:text-violet-500 text-[1rem] md:text-[1.15rem] font-medium text-zinc-900 w-full duration-200">
                                    {article.fields.title}
                                </p>
                                <p class="text-[.875rem] text-zinc-500 leading-6">
                                    {moment(
                                        article.fields.publishedDate
                                    ).format("D MMM YYYY")}
                                </p>
                                <p class="hidden text-[1rem] text-zinc-500 leading-6 w-full line-clamp-3">
                                    {article.fields.description}
                                </p>
                            </div>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
    <Footer/>
</Layout>
