---
import FloatingBar from "../components/common/FloatingBar.astro";
import Layout from "../layouts/Layout.astro";

const projectMenu = [
    {
        name: "Design",
        description:
            "Experience the power of great design, crafted for real-world users.",
        link: "/project/design",
        icon: "https://res.cloudinary.com/djvyifjgz/image/upload/v1742015474/xu0rshxmawooh71v5dii.svg",
    },
    {
        name: "Frontend Development",
        description: "Take a peek at my Frontend work, check it out!",
        link: "/project/frontend",
        icon: "https://res.cloudinary.com/djvyifjgz/image/upload/v1742015474/eixy6vs1k8qkz9gjlo5w.svg",
    },
    {
        name: "QA Manual & Automation",
        description:
            "Uncover the behind-the-scenes magic of QA that keeps everything running smoothly.",
        link: "/project/qualityAssurance",
        icon: "https://res.cloudinary.com/djvyifjgz/image/upload/v1742015474/ed9qxnuh8b81riq0x8xw.svg",
    },
];

if (!Array.isArray(projectMenu) || projectMenu.length === 0) {
    return Astro.redirect("/404", 302);
}
---

<Layout>
    <FloatingBar />
    <div
        data-aos="fade-up"
        data-aos-duration="400"
        class="flex flex-col gap-10 md:gap-20 py-32 sm:py-44 px-3 sm:px-10 lg:px-20 2xl:px-40"
    >
        <header class="flex flex-col gap-2 text-start md:text-center">
            <p
                class="text-zinc-500 text-[1rem] sm:text-[1.2rem] tracking-[0.015rem]"
            >
                My Projects
            </p>
            <h1
                class="font-medium text-zinc-900 text-[1.5rem] sm:text-[2.5rem] leading-8 sm:leading-[3.2rem] tracking-[0.015rem]"
            >
                Where Every Pixel Tells a Story
            </h1>
        </header>
        <section class="flex flex-wrap gap-5 justify-center">
            {
                projectMenu.map((project: any, index: number) => (
                    <a
                        href={project.link}
                        data-aos="fade-up"
                        data-aos-duration="400"
                        data-aos-delay={index * 150}
                        class="group bg-white/50 backdrop-blur-[25px] border-[1.5px] shadow-[0_4px_30px_rgba(0,0,0,0.1)] border-white/50 p-5 w-full lg:w-[350px] rounded-2xl cursor-pointer"
                    >
                        <div class="flex flex-col gap-3">
                            <img
                                src={project.icon}
                                alt=""
                                width="40"
                                height="40"
                                loading="lazy"
                                decoding="async"
                                class="w-[40px] h-[40px] bg-orange-200/50 rounded-full p-2 group-hover:rotate-45 duration-200"
                            />
                            <div class="flex flex-col gap-1">
                                <p class="font-medium text-zinc-700 group-hover:text-orange-500 text-[1.15rem] tracking-[0.015rem] duration-100">
                                    {project.name}
                                </p>
                                <p class="text-zinc-500 lg:text-[rem] tracking-[0.015rem]">
                                    {project.description}
                                </p>
                            </div>
                        </div>
                    </a>
                ))
            }
        </section>
    </div>
</Layout>
