---
import { getEntries } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import FloatingBar from "../../components/common/FloatingBar.astro";
import SingleProjectHeader from "../../components/sections/project/singleProjectHeader.astro";
import SingleProjectContent from "../../components/sections/project/singleProjectContent.astro";
import Footer from "../../components/common/Footer.astro";

const { slug } = Astro.params;
const projects = await getEntries("uiux");
const singleProject = projects.find((item) => item.fields.slug === slug);

export async function getStaticPaths() {
    const projects = await getEntries("uiux");

    return projects.map((item) => ({
        params: { slug: item.fields.slug },
        props: { singleProject: item },
    }));
}
---

<Layout>
    <FloatingBar />
    <div data-aos="fade" class="flex flex-col gap-10 py-44 px-5 lg:px-10">
        <SingleProjectHeader singleProjects={singleProject} />
        <SingleProjectContent singleProjects={singleProject} />
    </div>
    <Footer />
</Layout>
