---
import FloatingBar from '../../../components/common/FloatingBar.astro';
import Footer from '../../../components/common/Footer.astro';
import Layout from '../../../layouts/Layout.astro';
import { getEntries } from '../../../lib/contentful';
import SingleProjectContent from '../components/singleProjectContent.astro';
import SingleProjectHeader from '../components/singleProjectHeader.astro';


const { slug } = Astro.params;
const projects = await getEntries("frontend");

const singleProject = projects.find((item) => item.fields.slug === slug);

export async function getStaticPaths() {
    const projects = await getEntries("frontend");

    return projects.map((item) => ({
        params: { slug: item.fields.slug },
        props: { singleProject: item },
    }));
}
---

<Layout>
    <FloatingBar />
    <div
        data-aos="fade-up"
        data-aos-duration="400"
        class="flex flex-col gap-10 py-32 sm:py-44 px-5 lg:px-10"
    >
        <SingleProjectHeader singleProjects={singleProject} />
        <SingleProjectContent singleProjects={singleProject} />
    </div>
    <Footer />
</Layout>
