---
const { articles } = Astro.props;
---

<section data-aos="fade-up" data-aos-duration="400" class="flex flex-col gap-5">
    <p class="font-medium text-[24px] text-zinc-900">About me in 10 seconds</p>
    {
        articles.map((article: any) => (
            <p class="text-zinc-600">{article.fields.bio}</p>
        ))
    }
</section>
