---
import "../styles/global.css";
import "../styles/font.css";
import "../styles/markdown.css";
import "../styles/animation.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/c.svg" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link
            rel="preload"
            href="https://res.cloudinary.com/djvyifjgz/raw/upload/v1727273598/Outfit-Regular_upwin3.ttf"
            as="font"
            type="font/ttf"
            crossorigin="anonymous"
        />
        <meta name="generator" content="Astro" />
        <meta
            name="description"
            content="An Indonesia-based Quality Assurance with a passion for crafting UI/UX and front-end experiences."
        />
        <title>Rafael Cahya</title>
    </head>
    <body>
        <slot />
        <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script is:inline>
            AOS.init();
        </script>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
